.pmc {
  &-hide {
    display: none !important;
  }

  &-config {
    width: 100%;
  }

  &-config fieldset {
    border: 1px solid gray;
    margin-top: 10px;
  }

  &-config fieldset:first-child {
    margin-top: 0;
  }

  &-config_line {
    width: 100%;
    display: flex;
    padding-top: 6px;
  }

  //&-config_line > label {
  //  width: 85px;
  //  text-align: right;
  //}

  &-config_line > input {
    //flex: 1;
  }

  &-switch {
    width: 37px;
    height: 18px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #DCDFE6;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    outline: none;
  }

  &-switch::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &-switch_uncheck::before {
    left: 2px;
    transition: .3s;
  }

  &-switch_check {
    background-color: #409EFF;
    transition: .6s;
  }

  &-switch_check::before {
    left: 19px;
    transition: .3s;
  }

  // 搜索框
  &-search {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;

    &-select,
    &-pixabay-language-select {
      margin-right: 5px;
    }

    &-focusable-within {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      padding: 3px 6px;
      position: relative;
      border-radius: 4px;
      box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px inset;
      background: rgba(242, 241, 238, 0.6);
      cursor: text;
      height: 28px;

      & input {
        line-height: inherit;
        border: none;
        background: none;
        width: 100%;
        height: 100%;
        display: block;
        resize: none;
        padding: 0;
        color: inherit;
        font: inherit;
        margin: 0;
      }
    }

    &-focusable-within:focus-within {
      box-shadow: rgba(35, 131, 226, 0.57) 0 0 0 1px inset, rgba(35, 131, 226, 0.35) 0 0 0 2px !important;
    }

    &-btn {
      margin-left: 5px;
    }
  }

  &-rp {
    flex: 1;

    &-loading {
      position: relative;
      width: 30px;
      height: 30px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-left-color: #000;
      border-radius: 100%;
      margin: auto;
      top: 100px;

      animation: pmc-loading-circle infinite 0.75s linear;

      @keyframes pmc-loading-circle {
        0% {
          transform: rotate(0);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    // 搜索结果
    &-result {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      background: white;
      text-align: center;

      &-item {
        width: 20%;
        padding: 3px;
        box-sizing: border-box;
        text-align: center;

        &-img {
          user-select: none;
          transition: background 20ms ease-in 0s;
          cursor: pointer;

          & img {
            display: block;
            object-fit: cover;
            border-radius: 3px;
            width: 100%;
            height: 64px;
            object-position: center 0;
          }
        }

        &-person {
          font-size: 12px;
          line-height: 16px;
          color: rgba(55, 53, 47, 0.5);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 2px;
          margin-bottom: 4px;

          & a {
            display: inline;
            color: inherit;
            text-decoration: underline;
            user-select: none;
            cursor: pointer;
          }
        }
      }
    }

    // 分页
    &-page {
      display: flex;
      text-align: center;

      &-padding {
        flex: 1;
      }

      &-item {
        width: 30px;
        height: 30px;
        padding: 0;
        transition: color .3s;
        cursor: pointer;
        border-radius: 6px;
        display: inline-block;
        margin-inline-end: 5px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        background-color: transparent;
        border: 1px solid transparent;
        outline: 0;
        user-select: none;
      }

      &-item:hover {
        transition: all 0.2s;
        background-color: rgba(0, 0, 0, 0.06);
      }

      &-item:first-child {
        margin-left: 0;
      }

      &-cur {
        pointer-events: none;
        border: 1px solid #1677ff;
        background-color: #ffffff;
        font-weight: 600;
        color: #1677ff;
      }
    }
  }

  &-change-loading {
    width: 100%;
    height: 496px;
    position: absolute;
    //left: 0;
    //top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.45);

    &-icon {
      position: relative;
      box-sizing: border-box;
      display: block;
      font-size: 0;
      color: #fff;
      width: 54px;
      height: 18px;
      margin: auto;
      top: 200px;

      & div {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        float: none;
        background-color: currentColor;
        border: 0 solid currentColor;
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 100%;
        animation: pmc-change-loading-ball-beat 0.7s -0.15s infinite linear;
      }

      & div:nth-child(2n-1) {
        animation-delay: -0.5s;
      }

      @keyframes pmc-change-loading-ball-beat {
        50% {
          opacity: 0.2;
          transform: scale(0.75);
        }

        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    &-info {
      margin: 0;
      text-align: center;
      top: 210px;
      position: relative;
      color: #dfdfdf;
      padding: 10px;
    }
  }
}
